<div class="alert alert-success" id="message" style="display: none;">Thanks!</div>

<h2><%= @office.name %></h2>

<h5>THANKS FOR YOUR BUSINESS!</h5>

<p>We would greatly appreciate your review of the doctor you visited today.  Please fill out the form below and we'll email you instructions for easily submitting a quick review online.  Thanks!</p>

<%= form_tag 'review', remote: true, id: "review_form" do |f| %>
	<%= hidden_field_tag "office_id", @office.id %>
	<%= text_field_tag "email",'', placeholder: "Your Email", class: 'span12' %>
	<p>Which doctor did you see today?</p>
	<% @office.doctors.each do |doctor| %>
		<label class="radio btn span11">
		  <%= radio_button_tag 'doctor', doctor.id %>
		  <%= doctor.name %>
		</label>
	<% end %>
	<%= submit_tag "Submit", class: "btn btn-primary btn-large", style: "margin-top: 10px;" %>
<% end %>